<div class="flex justify-between items-center">
  <h1 class="text-center text-4xl mt-10 mb-4">Edit Article</h1>
  <%= link_to "Back to articles", articles_path, class: "rounded-lg py-3 px-5 bg-gray-100 font-medium"  %>
</div>
<%= render "form", article: @article %>






