<div class="container mx-auto pb-20">
  <div class="flex justify-between items-center">
    <h1 class="text-4xl">All articles</h1>
    <%= link_to "Create new article", new_article_path, class: "rounded-lg py-3 px-5 bg-gray-100 font-medium"  %>
  </div>
  <%= render 'article' %>  
</div> 
