<div class="text-center">
  <h1 class="text-center text-4xl mt-10 mb-4">Welcome <%= @user.username %>!</h1>
  <h3 class="text-center text-2xl mt-10 mb-4">Articles</h3>
</div>
<div>
  <%= render 'articles/article' %>
</div>
