<main class="container mb-40">
  <h1 class="text-center text-4xl mt-10 mb-4">About us</h1>
  <div>
    <%= image_tag("about.jpg", class: "cover-image") %>
  </div>
  <section>
    <h2 class="text-center text-4xl mt-10 mb-4">Welcome to <span class="italic text-[#295D09]">Meals on Screen</span></h2>
    <p>A culinary haven where flavor meets aesthetics, and where every dish is a work of art.</p>
    <h2 class="text-2xl mt-10 mb-4">Our Mission</h2>
    <p>Simple! to provide you with an array of delectable recipes, expert cooking advice, and visually stunning food inspiration that will ignite your passion for cooking and elevate your dining experience.</p>
    <p> Whether you're a seasoned chef or a kitchen novice, our blog is designed to cater to all tastes and skill levels.</p>
    <h2 class="text-2xl mt-10 mb-4">Our Vision</h2>
    <p>At Meals on Screen, we believe that food is not just sustenance; it is an experience that engages all the senses. We aim to create a space where you can immerse yourself in a world of tantalizing flavors, vibrant colors, and mouth-watering aromas. Through our carefully curated content, we aspire to inspire creativity in the kitchen, encourage experimentation, and help you discover new and exciting culinary horizons.</p>
  </section>

  <section class="flex justify-between items-align mt-16 mb-4 gap-4">
    <div class="w-1/2">
      <%= image_tag("pancakes.jpg", class: "round-image") %>
    </div>
    <div class=""w-1/2>
      <h3 class="text-center text-2xl mb-4">What Sets Us Apart</h3>
      <ul>
        <li>
          <strong>Culinary Expertise:</strong> Our team of passionate and experienced chefs brings a wealth of knowledge to the table.
        </li>

        <li>
          <strong>Visual Feast:</strong> Each recipe on Meals on Screen is accompanied by stunning photography that captures the essence of the dish.
        </li>

        <li>
           <strong>Diversity of Recipes:</strong> From comforting classics to bold international flavors, our recipe collection spans a wide range of cuisines and dietary preferences.
        </li>
      </ul>
    </div>
  </section>

  <p class="text-center mt-10 text-[#295D09] text-xl">Thank you for being a part of the Meals on Screen family. Here's to a future filled with delicious discoveries and memorable meals!</p> 
</main>