<div class="bg-[url('/assets/hero.jpg')] bg-cover bg-center bg-no-repeat h-[465px] lg:h-screen lg:mb-40 w-full text-center relative">
  <div class="w-full h-full bg-[#013237] absolute top-0 left-0 opacity-40"></div>
  <div class="flex flex-col text-white items-center justify-center h-full absolute w-full left-0 top-0">
    <h1 class="font-semibold text-5xl mb-2.5">Welcome to<span class="text-[#F2AC20]"> Meals on Screen</span></h1>
    <p class="text-xl">Your go-to source for delicious and visually stunning food inspiration</p>
    <p class="text-xl mb-8">From mouth-watering recipes to expert cooking tips, we have something for everyone</p>
    <button class="hover:shadow-form rounded-md bg-[#295D09] py-3 px-8 text-base font-semibold text-white outline-none">
      <%= link_to "Sign up", signup_path, class: "" %>
    </button>
  </div>
</div>
